version: 2
updates:
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "monthly"
    groups:
      all-actions:
        patterns: ["*"]
    ignore:
      - # Ignore all updates for actions in pytest_selfhosted as the self hosted runner might not support them
        update-types: ["version-update:semver-major", "version-update:semver-minor", "version-update:patch"]
        dependency-name: "*"
        manifest-file: ".github/workflows/pytest_selfhosted.yml.yml"
