default_language_version:
  python: python3

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: check-yaml
      - id: check-toml
      - id: check-json
        exclude: ^.vscode/
      - id: mixed-line-ending

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.6
    hooks:
      - id: ruff # linter
        args: [--fix]
      - id: ruff-format # formatter

  - repo: https://github.com/crate-ci/typos
    rev: v1.29.4
    hooks:
      - id: typos

  - repo: https://github.com/fzimmermann89/check_all
    rev: v1.1
    hooks:
      - id: check-init-all
        args: [--double-quotes, --fix]
        exclude: ^tests/

  - repo: https://github.com/kynan/nbstripout
    rev: 0.8.0
    hooks:
    # cleans the .ipynbs (removes outputs, resets all cell-ids to 0..N, cleans steps)
    # also clean any kernel information left after execution
    - id: nbstripout
      name: clean .ipynb output
      args: [--extra-keys, "metadata.language_info"]
      files: examples/notebooks

  - repo: local
    hooks:
     - id: jupytext
       name: convert .py to .ipynb
       language: python

       additional_dependencies:
        - jupytext
       entry: >
        jupytext
        --update
        --pipe
        "python .precommit/add_notebook_preamble.py {}"
        --to
        "../notebooks//ipynb"
        --update-metadata
        '{
          "accelerator": "GPU",
          "colab": {"gpuType": "T4","provenance": []},
          "kernelspec": {"display_name": "Python 3 (ipykernel)","language": "python","name": "python3"}
        }'
       always_run: true
       pass_filenames: true
       files: ^examples/scripts/.*py
       types_or: [python]

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.14.1
    hooks:
      - id: mypy
        pass_filenames: false
        always_run: true
        args: [src, tests, examples]
        additional_dependencies:
          - numpy
          - torch>=2.4.0
          - types-requests
          - typing-extensions
          - einops
          - pydicom
          - matplotlib
          - pytest
          - xsdata
          - "--index-url=https://download.pytorch.org/whl/cpu"
          - "--extra-index-url=https://pypi.python.org/simple"

  - repo: https://github.com/kynan/nbstripout
    rev: 0.8.0
    hooks:
    # cleans the .ipynbs (removes outputs, resets all cell-ids to 0..N, cleans steps)
    # also clean any kernel information left after execution
    - id: nbstripout
      name: clean .ipynb output
      args: [--extra-keys, "metadata.language_info"]
      files: examples/notebooks

  - repo: https://github.com/mwouts/jupytext
    rev: v1.16.6
    hooks:
     - id: jupytext
       name: convert .py to .ipynb
       args:
         - --update
         - --pipe
         - "python .precommit/add_notebook_preamble.py {}"
         - --to
         - "../notebooks//ipynb"
         - --update-metadata
         - '{"accelerator": "GPU","colab": {"gpuType": "T4","provenance": []},"kernelspec": {"display_name": "Python 3 (ipykernel)","language": "python","name": "python3"}}'
         - examples/scripts/*.py
       always_run: true
       pass_filenames: false

ci:
  autofix_commit_msg: |
    [pre-commit] auto fixes from pre-commit hooks
  autofix_prs: false
  autoupdate_branch: ""
  autoupdate_commit_msg: "[pre-commit] pre-commit autoupdate"
  autoupdate_schedule: monthly
  skip: [mypy]
  submodules: false
