default_language_version:
  python: python3

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-added-large-files
      - id: check-docstring-first
      - id: check-merge-conflict
      - id: check-yaml
      - id: check-toml
      - id: check-json
        exclude: ^.vscode/
      - id: mixed-line-ending

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.6.9
    hooks:
      - id: ruff # linter
        args: [--fix]
      - id: ruff-format # formatter

  - repo: https://github.com/crate-ci/typos
    rev: v1.25.0
    hooks:
      - id: typos

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.11.2
    hooks:
      - id: mypy
        pass_filenames: false
        always_run: true
        args: [src, tests, examples]
        additional_dependencies:
          - numpy
          - torch>=2.4.0
          - types-requests
          - einops
          - pydicom
          - matplotlib
          - pytest
          - xsdata
          - "--index-url=https://download.pytorch.org/whl/cpu"
          - "--extra-index-url=https://pypi.python.org/simple"
ci:
    autofix_commit_msg: |
        [pre-commit] auto fixes from pre-commit hooks
    autofix_prs: false
    autoupdate_branch: ''
    autoupdate_commit_msg: '[pre-commit] pre-commit autoupdate'
    autoupdate_schedule: monthly
    skip: [mypy]
    submodules: false