torch==2.3.1+cpu
torchvision==0.18.1+cpu
numpy==1.23.5
ismrmrd==1.14.1
einops==0.7.0
pydicom==3.0.1
pypulseq==1.4.2
pytorch-finufft==0.1.0
cufinufft==2.4.1
scipy==1.15
ptwt==0.1.8
tqdm==4.60.0
typing-extensions==4.12
platformdirs==4.0
requests==2.25
--extra-index-url https://download.pytorch.org/whl/cpu
